---
import Layout from "@/layouts/Layout.astro";
import { FlashcardsViewProvider } from "@/components/flashcards/FlashcardsViewProvider";
---

<Layout title="My Flashcards">
  <main class="container mx-auto py-8">
    <FlashcardsViewProvider client:load />
  </main>
</Layout>
